.booking-form-container {
  background-color: #F2F2F2;
  border: 2px solid #DDD;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.booking-form-title {
  margin-top: 0;
}

.booking-form-label {
  display: block;
  margin-bottom: 5px;
}

.booking-form-input {
  padding: 5px;
  border: 1px solid #DDD;
  border-radius: 5px;
  margin-bottom: 10px;
}

.booking-form-button {
  
  background-color: #4285F4;
  color: #FFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.booking-form-button:hover {
  background-color: #3C7DCD;
}
